<!doctype html>
<html>
<head>
    <title>Crypto Wallet Exchange</title>
    <link rel="icon" href="bitcoin.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style2.css">
</head>
  <body>
    <section class="container clearfix">

        <section class="login text-center">

            <h1>Cryptocurrency Wallet Exchange</h1>

            <p>Login or Signup:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

        </section>

        <section class="img left"><img src="img/bitcoin.png" alt="Bitcion image"></section>
        <section class="img right"><img src="img/ripple.png" alt="Ripple image"></section>

    </section>
  </body>
</html>
